<!--<app-voice style="float: right;"></app-voice>-->
<div class="container">
  <div class="pos-f-t">
    <img src="../assets/img/logotipo.png" class="float-right">

    <div class="" id="navbarToggleExternalContent">

      <div class="bg-success p-1">

        <h5 class="text-white h4">Minha Aplicação</h5>

        <span class="text-white">Site para exemplificar rotas.</span>

      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xl-2 col-sm-4 col-10 btn" [routerLink]="['/home']">
      <div class="card" style="margin-bottom: 0.2rem;">
        <div class="card-content">
          <div class="card-body" style="padding: 0.20rem;">
            <div class="media d-flex">
              <div class="align-self-center">

                <svg width="1.5em" height="2em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">

                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                </svg>
              </div>
              <div class="media-body">
                <h5>Home</h5>
                <!--<span>Emergência</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-sm-4 col-10 btn" [routerLink]="['/faleconosco']">
      <div class="card" style="margin-bottom: 0.2rem;">
        <div class="card-content">
          <div class="card-body" style="padding: 0.20rem;">
            <div class="media d-flex">
              <div class="align-self-center">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                </svg>
              </div>
              <div class="media-body">
                <h5>Fale Conosco</h5>
                <!--<span>Ocupação</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-sm-4 col-10 btn" [routerLink]="['/vagas']">
      <div class="card" style="margin-bottom: 0.2rem;">
        <div class="card-content">
          <div class="card-body" style="padding: 0.20rem;">
            <div class="media d-flex">
              <div class="align-self-center">

                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
              </div>
              <div class="media-body">
                <h5>Vagas</h5>
                <!--<span>Centro Cirúrgico</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<router-outlet></router-outlet>